<!DOCTYPE html>
<html>

    <head>
        <title>Messenger analysis: {{ report_details.full_name }}</title>
        <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">

    </head>

<body>

    <h1>Messenger analysis for {{ report_details.full_name }}</h1>
    <p>Using data between {{ report_details.date_min }} and {{ report_details.date_max }} (inclusive).</p>
    <p>Summary stats go here.</p>

    <div class="tg-wrap"><table>
        <tbody>
          <tr>
            <td>Date you joined Facebook</td>
            <td>?</td>
          </tr>
          <tr>
            <td>Messages sent</td>
            <td>?</td>
          </tr>
          <tr>
            <td>Messages received</td>
            <td>?</td>
          </tr>
          <tr>
            <td>Average words per message</td>
            <td>?</td>
          </tr>
        </tbody>
        </table>
    </div>

    <div class="content">

    {{ info.time_series_all }}

    
    Direct messages
    {{ info.bar_chart_dir_1 }}
    {{ info.bar_chart_dir_none }}

    {{ info.time_series_dir_1 }}
    {{ info.time_series_dir_none }}

    <p>Your most active hour of the day is ?</p>
    {{ info.plot_hour_day }}

    {{ info.first_msg }}

    </div>

    <h2>Analysis details:</h2>
    <div class="tg-wrap"><table>
        <tbody>
          <tr>
            <td>Run date</td>
            <td>{{ report_details.now }}</td>
          </tr>
          <tr>
            <td>Data from</td>
            <td>{{ report_details.date_min }}</td>
          </tr>
          <tr>
            <td>Data until</td>
            <td>{{ report_details.date_max }}</td>
          </tr>
          <tr>
            <td>Moving average</td>
            <td>{{ report_details.ma_days }}</td>
          </tr>
        </tbody>
        </table>
    </div>

</body>
</html>